{% extends 'base.html' %} 

{% block reference %}
  <link href="/static/css/bootstrap.css" media="all" rel="stylesheet" />
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/index.js"></script>
  <script src="/static/js/jquery.min.js"></script> 
{% endblock %} 

{% block content %}
  <div class="" style="margin:30px 20px 20px 25px">
   <div style="text-align:center; padding-left:92px; background:none repeat scroll 0% 0% #C9F0DD;height:60px">
    <h4 style="text-align:center; padding:20px 0 0 30px;">管理员控制页面</h4>
   </div>
   <div class="row clearfix" style="margin:20px 0 20px 0px">
    <div class="col-md-2 column" style="background:rgba(198, 190, 204, 1)">
			<div class="sidebar-tab-active"><a href="/route/index">反馈者管理</a></div>
			<div class="sidebar-tab"><a href="/route/router">路由器管理</a></div>
			<div class="sidebar-tab"><a href="/route/routerconnect">路由连接信息</a></div>
			<div class="sidebar-tab"><a href="/route/order">命令控制</a></div>
    </div>
    <div class="col-md-10 column">
      <div style="margin-left:85%">
        {% if username %}
            欢迎, <b> {{username}} </b>
             (<a href="/route/logout">登出</a>)
        {% else %}
            <a href = "/route/login"> 登录 </a>
        {% endif %}
      </div>
     <h3> 反馈者列表({{userCnt}})</h3>
     <table style="border-width:0px;border-collapse:collapse;width:100%">
      <tbody>
       <tr style="background-color:#E0E0E0;height:40px;border-width:0px">
        <td style="width:10%;border-width:0px;font-weight:bold;text-align:center">标号</td>
        <td style="width:20%; border-width:0px;font-weight:bold;text-align:center">用户名</td>
        <td style="width:20%; border-width:0px;font-weight:bold;text-align:center">备注</td>
        <td style="width:20%;border-width:0px;font-weight:bold;text-align:center">最后反馈时间</td>
        <td style="width:15%;border-width:0px;font-weight:bold;text-align:center">操作</td>
       </tr>
      </tbody>
     </table>
     <input style="display:none;" id="userIdRes" name="userIdRes" value="{{user.id}}" />
     <table id="userContent" style="border-width:0px;border-collapse:collapse;width:100%;table-layout:fixed;word-wrap:break-word;word-break:break-all;">
       {% for user in users %}
      <tbody>
       <tr class="{% cycle row1,row2 %}" style="">
        <td style="width:10%;border-width:0px;text-align:center">{{user.id}}</td>
        <td style="width:20%;border-width:0px;text-align:center">{{user.name}}</td>
        <td style="width:20%;border-width:0px;text-align:center">{{user.commit}}</td>
        <td style="width:20%;border-width:0px;text-align:center">{{user.last_time}}</td>
        <form action="/route/deleteuser/" method="POST">
          <td style="width:15%;border-width:0px;font-weight:bold;text-align:center">
            <input type="submit" value="删除" class="selectNode" />
            <input style="display:none;" id="userIdRes" name="userId" value="{{user.id}}" />
          </td> 
        </form>
       {% endfor %}
       </tr>
      </tbody>
     </table>

     <div style="margin:20px 0 0 20px">
      <!-- 按钮触发模态框 -->
      <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal1"> 添加反馈者 </button> &nbsp;&nbsp;
    <!--  <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal2"> 添加路由 </button> -->
     </div>

     <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin:30px 0 0 24%; width:60%">
      <div class="modal-dialog">
       <div class="modal-content">

        <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
         <h4 class="modal-title" id="myModalLabel"> 添加新反馈者 </h4>
        </div>

        <form action="/route/adduser/" method="POST">
         <div class="modal-body">
          <div style="margin: 10px 0 0 0">
            用户名 :
           <input style="margin-left:21px" type="text" name="username" id="username" />
          </div>
          <div style="margin: 20px 0 0 0">
            备注:
           <textarea style="margin-left:40px;height:200px;width:300px" name="remark" id="remark"></textarea>
          </div>
          <div style="margin: 20px 0 0 0">
            用户密码 :
           <input style="margin-left:8px" type="password" name="pwd" id="pwd" />
          </div>
          <div style="margin: 20px 0 0 0">
            重复密码 :
           <input style="margin-left:8px" type="password" name="pwdagain" id="pwdagain" />
          </div>
         </div>

         <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消 </button>
          <button type="submit" class="btn btn-primary"> 确定添加 </button>
         </div>
        </form>
       </div>
      </div>
     </div>

     <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin:30px 0 0 24%; width:60%">
      <div class="modal-dialog">
       <div class="modal-content">

        <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
         <h4 class="modal-title" id="myModalLabel"> 添加路由器 </h4>
        </div>

        <form action="/route/addrouters/" method="POST">
         <div class="modal-body">
          <input style="display:none;" id="reserveData" name="userIds" />
          <div style="margin: 20px 0 0 0">
           	MAC地址:
           	<input type='text' name='macaddr' id='macaddr' style='margin-left:14px'/>
					</div>
          <div style="margin: 20px 0 0 0">
            备注:
           <textarea style="margin-left:46px; width:350px;height:150px" type="text" name="routermark" id="routermark"></textarea>
          </div>

         <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消 </button>
          <button type="submit" class="btn btn-primary" onclick="addData()"> 确定添加 </button>
         </div>
        </form>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div> 
{% endblock %}